<p>
  Hello <%= @user.email %>!
</p>
<p> Hairfolio has approved your claim for salon <%= @salon.name %>
  <br /> Please login with below credentials to access salon
  <br />
  <br />
  Email: <b><%= @user.email %></b>
  <br />
  Password: <b><%= @password %> </b>
  <br />
  <br />
</p>
